<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <title>Hello, world!</title>
</head>
<body class="bg-light">
<div id="root">
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="http://www.car-brand-names.com/wp-content/uploads/2015/09/Dodge-logo.png" width="150" height="45"
                 alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prices">Buy And Price</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--CONTENT-->
    <div class="container-fluid">
        <div class="row justify-content-center bgImg">
            <div class="col-md-8 mt-5">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4 fontColor">WE WERE BORN THIS WAY</h1>
                        <p class="lead fontColor">ONLY DODGE OFEERS AMIRICA'S FATEST,MOST CAPABLE CARS</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 col-12 ">
                <div class="card">
                    <img src="https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/bhp/promo/desktop/2018-DODGE-garage-promo-new.jpg.image.500.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">See What Has EveryOne Talking</h5>
                        <a href="#">VISIT DODGE GARAGE</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 ">
                <div class="card">
                    <img src="https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/bhp/promo/desktop/track-my-demon-promo.jpg.image.500.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">TRACK MY DEMON<br> DODGE CHALLENGER</h5>
                        <a href="#">TRACK MY DEMON</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 ">
                <div class="card ">
                    <img src="https://www.dodge.com/content/dam/fca-brands/na/dodge/en_us/bhp/promo/desktop/track-my-demon-promo.jpg.image.500.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-dark rowHeight align-items-center">
            <div class="col-md-3 col-12 py-5">
                <h3 class="fontColor">FOLLOW US</h3>
            </div>
            <div class="col-md-3 col-12">
                <h5 class="fontColor">VISIT CONTROL CENTER TO ADD NEW CARS</h5>
            </div>
            <div class="col-md-6 col-12">
                <div class="input-group mb-3">
                    <input id="password" type="password" class="form-control" placeholder="Enter the password"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button @click="openBuyingPage" class="btn btn-info" type="button">GO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
                    started guide</a>.</p>
        </div>
    </footer>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function getCar() {
        axios.get('/api/car').then(function (response) {
            app.cars = response.data
        })
    }

    var app = new Vue({
        el: '#root',
        data: {
            cars: [],
            /* newCar: {
                 name: "",
                 price: 0,
             },*/

        },
        methods: {
            openBuyingPage: function () {
                if (document.getElementById('password').value == '1234')
                    window.location.href = '/cars'
                else
                    alert("Wrong password!")
            },
        },

        mounted: function () {
            getCar()
        }
    })
</script>
</body>
</html>